/S4/Pemrograman 2/Tugas5/kantor/nbproject/private/
/S4/Pemrograman 2/Tugas5/kantor/build/
/S4/Pemrograman 2/Tugas5/App_inventory/nbproject/private/
/S4/Pemrograman 2/Tugas5/App_inventory/build/
/S4/Pemrograman 2/ProjectUAS/src/lib/ProjectUAS/build/
/S4/Pemrograman 2/ProjectUAS/src/lib/ProjectUAS/dist/
/S4/Pemrograman 2/ProjectUAS/src/lib/ProjectUAS/nbproject/private/
/S4/Pemrograman 2/ProjectUAS/nbproject/private/
/S4/Pemrograman 2/ProjectUAS/build/
/S4/Pemrograman 2/ProjectUAS/dist/
